@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
root {
  --white-color: #fff;
  --black-color: #000;
  --main-color: #005f00;
  --lighter-green: #00c503;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  font-family: "DM Sans", sans-serif;
}
.nav-btn a {
  text-decoration: none;
  color: var(--lighter-green);
  font-size: 18px;
  margin: 0.5rem;
}
.nav-btn {
  background: transparent;
  border: none;
}
.nav-btn a:hover {
  background: var(--main-color);
  color: var(--white-color);
  padding: 0.7rem;
  border-radius: 13px;
}
.header {
  width: 95%;
  margin: 0 auto;
  background: var(--white-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.logo-icon {
  width: 40px;
  height: 32px;
}
.logo-parent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.medcheck {
  font-size: 18px;
  letter-spacing: -0.03em;
  line-height: 24px;
  font-weight: 500;
  color: #1a1a1a;
  text-align: left;
}
.nav2 {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.dropdown,
.hamburger {
  position: relative;
  display: inline-block;
}
.dropdown img:nth-of-type(2) {
  position: absolute;
  top: 9px;
  left: 21px;
}
.dropdown img:nth-of-type(1) {
  border: 1.5px solid #e0e0e0;
  border-radius: 50px;
  padding: 3px;
}
.dropdown img {
  cursor: pointer;
}
/* Dropdown Box */
.notification {
  background: var(--white-color);
  width: 300px;
  padding: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 70px;
  left: -140px;
  margin-top: 10px;
  /* Initially hidden */
  display: none;
  z-index: 100;
}
/* Notification items */
.notification .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  position: relative;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  border-bottom: 2px solid #00ab00;
  border-radius: 0px 10px 10px 10px;
}
.item:hover {
  background: #bcfdbd;
}
.notification .item img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.notification .item .info {
  flex: 1;
  margin-left: 10px;
}
.notification .item .info h5 {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
}
.notification .item .info p {
  margin: 3px 0;
  font-size: 12px;
  color: #4d4d4d;
}
.notification .item .info span {
  font-size: 11px;
  color: #999;
}
.notification .item a {
  text-decoration: none;
  font-size: 12px;
  color: #999;
  font-weight: 500;
  float: right;
}
.dropdown:hover .notification {
  display: block;
}
.dropdown-2 {
  position: relative;
}
.dropdown-content a {
  display: block;
  text-decoration: none;
  color: #00c503;
  font-size: 18px;
  background-color: var(--white-color);
  flex: 1;
  letter-spacing: -0.03em;
  line-height: 28px;
  font-weight: 500;
}
.hamburger {
  display: none;
}
.dropdownbtn {
  background: transparent;
  border: none;
  cursor: pointer;
}
.dropdownContent {
  display: none;
  background-color: var(--white-color);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 100%;
}
.dropdownContent ul li {
  list-style-type: none;
}
.dropdownContent li a {
  text-decoration: none;
  color: var(--lighter-green);
}
.show {
  display: block;
}
.dropdown-content {
  display: none;
  position: absolute;
  top: 60px;
  right: -5px;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 193px;
  height: 124px;
  text-align: right;
}
.link {
  padding: 5px 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 5px 10px;
}
.dropdown-content a:hover {
  background-color: #3e8e41;
  color: var(--white-color);
}
.dropdown-2:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
.mobile-communinty-gist {

  margin: 0 auto;
  background-color: #fff;
  height: 100%;
  text-align: left;
  font-size: 16px;
  color: #1a1a1a;
}
.community-gist {
  text-align: center;
  color: #005f00;
  font-size: 30px;
  letter-spacing: -0.03em;
  line-height: 36px;
  font-weight: 900;
  padding-block: 2rem;
}
.post-1-parent{
  width: 90%;
  margin: 0 auto;
}
.group-parent {
  border-radius: 25px 0 0 0;
}
.group-child {
  border-radius: 50%;
  width: 42px;
  height: 42px;
  object-fit: cover;
}
.mr-abiodun {
  letter-spacing: -0.03em;
  line-height: 24px;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.lagos-nigeria {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  color: #b3b3b3;
}
.mr-abiodun-parent {
  position: absolute;
  top: 0px;
  left: 48px;
  width: 229px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 7px;
}
.ellipse-parent {
  width: 277px;
  position: relative;
  height: 47px;
}
.frame-child {
  width: 24px;
  height: 24px;
}
.group-parent {
  height: 6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 5px 10px;
  gap: 17px;
  background: linear-gradient(#e5feeb, #e5feeb), #fff;
}
.h {
  align-self: stretch;
  position: relative;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  color: #ccc;
}
.mr-abiodun-group {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 7px;
}
.frame-wrapper {
  width: 217px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.ellipse-group {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 335px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
}
.post-1-inner {
  align-self: self-start;
  position: relative;
  height: 44px;
}
.police-adopt-early-container {
  width: 335px;
  letter-spacing: -0.31px;
  line-height: 21px;
  display: inline-block;
  flex-shrink: 0;
}
.title {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.picvidoe-icon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  height: 182px;
  flex-shrink: 0;
  object-fit: cover;
}
.comments {
  letter-spacing: 0.06px;
  line-height: 13px;
}
.comments-parent {
  width: 246px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 0px 5px;
  gap: 20px;
}
.k {
  position: absolute;
  top: 1px;
  left: 24px;
  letter-spacing: 0.06px;
  line-height: 13px;
}
.clip-path-group {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  max-width: 100%;
  max-height: 100%;
}
.component-3 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 15px;
  height: 15px;
}
.k-parent {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 44px;
  height: 15px;
}
.views-bar {
  width: 336px;
  position: relative;
  height: 15px;
  flex-shrink: 0;
  font-size: 11px;
}
.comment-cards-child {
  width: 40px;
  position: relative;
  border-radius: 50%;
  height: 40px;
  object-fit: cover;
}
.miss-jennifer {
  position: relative;
  letter-spacing: -0.31px;
  line-height: 21px;
}
.miss-jennifer-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px 10px;
}
.i-have-same {
  width: 330px;
  font-size: 12px;
  line-height: 16px;
  color: #333;
  white-space: wrap;
  text-align: left;
  font-family: "Poppins", sans-serif;
}
.i-have-same-experience-too-it-wrapper {
  align-self: stretch;
  border-radius: 10px;
  background-color: #ccfed7;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 12px;
}
.frame-group {
  width: 286px;
  border-radius: 0px 5px 5px 5px;
  background-color: #ccfed7;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: 16px;
  color: #333;
}
.comment-cards {
  /* align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px; */
   align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  font-size: 16px;
}
.i-experienced-something {
  width: 268px;
  line-height: 16px;
  display: inline-block;
}
.i-experienced-something-simila-wrapper {
  align-self: stretch;
  border-radius: 10px;
  background-color: #fef2d5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 12px;
}
.frame-container {
  width: 286px;
  border-radius: 0px 5px 5px 5px;
  background-color: #fef2d5;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.my-experience-is-similar-its-wrapper {
  align-self: stretch;
  border-radius: 10px;
  background-color: #ffeacc;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 12px;
}
.frame-div {
  width: 286px;
  border-radius: 0px 5px 5px 5px;
  background-color: #ffeacc;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.comments1 {
  width: 100%;
  align-self: stretch;
  height: 177px;
  overflow-x: auto;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
}
.all-comment {
  align-self: stretch;
  height: 574px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
}
.write-comments {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap);
}
input {
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  resize: none;
  width: 250px;
  background: #e6e6e6;
}
.l1-parent {
  width: 336px;
  border-radius: 5px;
  background-color: #e6e6e6;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  gap: 3px;
  color: #b3b3b3;
  height: 50px;
}
.post-1 {
  align-self: stretch;
  background-color: #fafafa;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  gap: 20px;
}
.post-2 {
  width: 100%;
  align-self: stretch;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0px;
  gap: 20px;
  font-family: "Poppins", sans-serif;
}
.miss-jennier {
  align-self: stretch;
  letter-spacing: -0.31px;
  line-height: 21px;
  font-weight: 600;
}
.frame-parent {
  width: 42vw;
  display: flex;
  padding: 20px 0px 0px;
  gap: 24px;
  font-size: 16px;
  color: #333;
}
footer{
  background: #005f00;
}
@media (max-width: 1207px) {
  .testimonial-container {
    height: 100%;
  }
  .last {
    align-self: center;
  }
}
@media (max-width: 800px) {
  .testimonial-container {
    height: 100%;
  }
  .nav-btn {
    display: none;
  }
  .group-item,
  .dropdown-2 {
    display: none;
  }
  .hamburger {
    display: block;
  }
}
@media (max-width: 768px) {
  .testimonial-container {
    height: 100vh;
  }
  .header {
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
  }
  .testimonial-container {
    height: 100%;
  }
  .footer-links {
    /* flex-direction: column-reverse; */
    display: block;
  }
}
